name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  macOS:
    runs-on: [self-hosted, macos]
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: swift build -v
    - name: Run tests
      run: swift test -v

  linux:
    runs-on: ubuntu-latest
    container: swift:6.0
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: swift build -v
    - name: Run tests
      run: swift test -v
