name: macOS

on:
  push:
    branches: ["**"]

jobs:
  macOS:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - name: Select Xcode
      run: sudo xcode-select -s /Applications/Xcode_16.0.app/Contents/Developer
    - name: Build
      run: swift build -v
    - name: Run tests
      run: swift test -v
